
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.trafficLight{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.center1{
    background-color: black;
    width: 10px;
    height: 100px;

}

.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.green{
    background-color:darkgreen; 
}
.yellow{
    background-color:darkorange; 
}
.red{
    background-color:darkred; 
}

.purple{
    background-color:purple; 
}
.encendido{
    box-shadow: 0px 0px 30px 30px white;
}